body
{
    font-size: 14px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

h1
{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-width
{
    max-width: 28rem;
}

#one
{
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

#two
{
    font-size: 24px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

#three
{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

#btnClickMe
{

}

div:hover
{
    font-weight: bold;
}