body
{
    font-size: 14px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.construction
{
    max-width: 36rem;
    @include rounded;
    @include card;
    @include text-white;
    @include mb-3;
}

#dolskuggar
{
    width: 40;
    height: 50;
    @include rounded;
    @include float-md-left;
}

.hero_content
{
    font-size: 30px;
    font-family: Colonna MT, serif;
}

.hero_heading
{
    font-size: 40px;
    font-family: 'Old English Text MT', 'Copperplate Gothic Bold', Colonna MT, serif; 
}

.hero_title
{
    font-size: 50px;
    font-family: 'Old English Text MT', 'Copperplate Gothic Bold', Colonna MT, serif;
}

.menu
{
    @include collapse;
    @include navbar-collapse;
}

.menu_top
{
    @include navbar;
    @include navbar-expand-lg;
    @include navbar-light;
    @include bg-light;
}

.pagetitle
{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.warning
{

}